.topNav {
    display: flex;
    flex-direction: row;
    width: auto;
    margin: 0 10px;
    align-items: center;
    text-align: center;
}

.a{
    display: flex;    
    text-transform: capitalize;    
    width: 100px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    /* background-color: #298535; */
    background-color: #4ef177;
}